@model IEnumerable<ApplicationUser>

@{
    Layout = "_Layout";
}

<br/>

<div class="row">
    <div class="col-6">
        <h2 class="text-primary">User List</h2>
    </div>
</div>

<div class="p-4 border rounded">
    
    @if (Model.Any())
    {
        <table class="table table-striped border">
            <tr class="text-secondary">
                <th>Email</th>
                <th>Name</th>
                <th>Roles</th>
                <th>Action</th>
            </tr>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.Name</td>
                    <td>@item.Role</td>
                    <td>
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info text-white" style="cursor: pointer">Edit</a>
                                
                                <a asp-action="ManageUserClaims" asp-route-userId="@item.Id" class="btn btn-primary text-white" style="cursor: pointer">Claims</a>
                                
                                @if(item.LockoutEnd != null && item.LockoutEnd > DateTime.Now)
                                {
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" type="button" class="btn btn-success text-white" style="cursor: pointer">
                                        <span>&nbsp; Lock</span>
                                    </button>
                                }
                                else
                                {
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" type="button" class="btn btn-warning text-white" style="cursor: pointer">
                                        <span>&nbsp; Unlock</span>
                                    </button>
                                }
                                
                            </form>

                        </div>
                    </td>
                </tr>
            }

        </table>
    }

</div>